#version=RHEL8
#kickstart file to install RHEL8 on KVM Guest

# Keyboard layouts
keyboard --vckeymap=fr --xlayouts='fr'
# System language
lang en_GB.UTF-8

# Use graphical install
graphical

# Use CDROM installation media
cdrom

# System bootloader configuration
bootloader --location=mbr --boot-drive=vda

# Partition clearing information
#clearpart --none --initlabel
clearpart --all --initlabel --drives=vda
ignoredisk --only-use=vda
autopart --type=lvm

# Network information
network  --bootproto=dhcp --device=link --onboot=on --noipv6 --activate
network  --hostname=localhost.localdomain


# Root password : password
rootpw --iscrypted $6$CBK8phdx8PwxXRP2$rFi3xspiGarS0Q2yD5ZC/41tzPKW040Q6ofKTm7939dqSuOmgUCYjsh9auSJIU.0DYMxaLIWYJf/YCCcy2m7y/
# user/password
user --groups=wheel --name=user --password=$6$6TaDuiBD.D6ab2uP$BjNx6K6a7niOO.UmGefHuPIU8z4ews2ytQNdjZu.qPjxatdvkhw/1Ee8L/AmBjX9F/IYXYMbKymOiNfvbIGTr1 --iscrypted --gecos="user"

# X Window System configuration information
xconfig  --startxonboot

# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Paris --isUtc --nontp

#%pre 
#%end 

%packages
@^graphical-server-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Run the Setup Agent on first boot
firstboot --enable

# reboot after installation
#reboot

# End User License Agreement 
eula --agreed 