#version=DEVEL
# Use CDROM installation media. This Kickstart is used to install Virtual Guest with KVM  
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=fr --xlayouts='fr','us'
# System language
lang en_GB.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=localhost.localdomain

# Root password : password
rootpw --iscrypted $6$dmKwn2FD3aOeR2BN$ToOlI.cIp76RFu7Y/cst9AfTAfuw/ze7mRsC2e/EmFzVlNB.i7xQ.AMYpUQyJTd4rMM/nbfQwf/CNIpa6yRWa1
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Paris --isUtc --nontp
# user: user / pwd: password
user --name=user --password=$6$ibq0MpC6vgBoIhv0$jqaIQZC5jpFEhcSExDcpr.xJgCWQnggkJ.JApLHdJeV6XcFODq3AZ7O3i0mvvLIQ3IvjpEHq18sMWPfv4gq0w1 --iscrypted --gecos="student"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=vda

%packages
@^minimal
@core
kexec-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
